.reviews {
    @include wrapper(1208px);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 140px;
    @media (max-width: 672px) {
        margin-bottom: 70px;
    }
    @media (max-width: 452px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.reviews-heading {
    @include font-style(16px, 600, 24px, $hover-color);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    @media (max-width: 452px) {
        @include font-style(14px, 600, 18px, $hover-color);
    }
}

.reviews-description {
    position: relative;
    max-width: 630px;
    @include font-style(44px, 600, 66px, $font-color);
    text-align: center;
    margin: 0 auto 70px auto;
    @media (max-width: 672px) {
        @include font-style(30px, 600, 36px, $font-color);
        margin-bottom: 35px;
    }
    @media (max-width: 452px) {
        @include font-style(21px, 600, 26px, $font-color);
    }
    &::before {
        content: url("../images/Grou.svg");
        position: absolute;
        top: -3px;
        left: -4px;
        @media (max-width: 672px) {
            display: none;
        }
    }
}


.swiper {
    width: 100%;
    min-height: 312px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    @media (max-width: 672px) {
        flex-direction: column;
    }
}


.swiper-slide-item {
    max-width: 558px;
    min-height: 260px;
    padding: 30px;
    border: 2px solid rgba(254, 117, 63, 0.1);
    border-radius: 10px;
    @media (max-width: 1056px) {
        max-width: 390px;
        margin-bottom: 50px;
    }
    @media (max-width: 672px) {
        display: flex;
        flex-direction: column;
    }
    &:not(:last-child) {
        margin-right: 30px;
        @media (max-width: 672px) {
            margin-right: 0;
        }
    }
    &:last-child {
        @media (max-width: 452px) {
            display: none;
        }
    }
    &:hover {
        border-color: $hover-color;
    }
}


.swiper-item-header {
    @include flex;
    @media (max-width: 452px) {
        justify-content: center !important;
    }
    &__quote {
        margin-bottom: 30px;
        @media (max-width: 1056px) {
            display: none; 
        }
    }
}
                

.swiper-item-people {
    @include flex;
    max-width: 296px;
    margin-bottom: 30px;
    @media (max-width: 452px) {
        flex-direction: column;
    }
    &__photo {
        max-width: 74px;
        min-height: 74px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 31px;
        @media (max-width: 452px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__name {
        @include font-style(22px, 600, 33px, $font-color);
        text-align: left;
        margin-bottom: 5px;
        @media (max-width: 452px) {
            text-align: center;
        }
    }
    &__position {
        @include font-style(16px, 400, 24px, $font-color);
        opacity: 0.7;
        text-align: left;
        @media (max-width: 452px) {
            text-align: center;
        }
    }
}
            
.swiper-item-description {
    @include font-style(16px, 400, 24px, $font-color);
    opacity: 0.7;
    text-align: left;
}     





  