@import "_fonts";
@import "_mixins";
@import "_variables";
@import "_header";
@import "_first-screen";
@import "_partners";
@import "_properties";
@import "_featured";
@import "_reviews";
@import "_subscribe";
@import "_footer";

body {
  font-family: "Poppins";
  background: #FFFFFF;
  overflow-x: hidden;
}







